{% extends "template.html" %}
{% block content %}
    
<ul>
  <ul style="width:20%; float:left;">
    <h1>Black List</h1>
    {% for entry in black_list: %}
        <li>
        {{entry.id_blocked}} {{entry.user_blocked.firstname}} {{entry.user_blocked.lastname}} ({{entry.user_blocked.email}}) 
        <br>
        <form action="/blacklist" method="POST">
          <button type="submit" id="unblock" name="unblock" value="{{ entry.user_blocked.email }}" class="my_button">Unblock</button>
        </form>
        </li>
    {% endfor %}

{% endblock %}
