{% extends "template.html" %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/calendar.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/theme.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<h1>Calendar</h1>
  <div id="calendar"></div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/js/all.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  <script src="{{ url_for('static', filename='js/calendar.js') }}"></script>
  <script>
    document.addEventListener("DOMContentLoaded", async () => {
    const cal = Calendar('calendar');
    cal.bindData({{ data|safe }});
    cal.render();
  });
  </script>

{% endblock %}
