{% extends "template.html" %}
{% block content %}

<form action="" method="POST" enctype="multipart/form-data">
  {{ form.hidden_tag() }}
  <dl>
  {% for field in form.display %}
  <dt>{{ form[field].label }}</dt>
  <dd>{{ form[field]() }}</dd>
    {% if form[field].errors %}
        {% for e in form[field].errors %}
        <p class="help-block">{{ e }}</p>
        {% endfor %}
    {% endif %}
  {% endfor %}

  </dl>
  <p>
  </p>
  <input type=submit name='submit_button' value="Save" style="background-color: #343a40; border-radius: 7px; color: white; padding: 5 15;text-decoration: none; margin-right: 10;">
  <input type=submit name='submit_button2' value="Send" style="background-color: #343a40; border-radius: 7px; color: white; padding: 5 15;text-decoration: none">
</form>

<script>
  $("#users_list").selectize({placeholder: 'Select recipients', create: true})
</script>
<script>
  $(document).ready(function() {
    $("#text").summernote();
  });
</script>

{% endblock %}
