{% extends "template.html" %}
{% block content %}

<!-- include summernote css/js -->
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>

<!-- include selectize css/js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.3/css/selectize.css" rel="stylesheet">


<form action="" method="POST" enctype="multipart/form-data" onsubmit="return validateForm()">
  {{ form.hidden_tag() }}
  <dl>
  {% for field in form.display %}
  <dt>{{ form[field].label }}</dt>
  <dd>{{ form[field]() }}</dd>
    {% if form[field].errors %}
        {% for e in form[field].errors %}
        <p class="help-block">{{ e }}</p>
        {% endfor %}
    {% endif %}
  {% endfor %}

  {% if error %}
  <p><strong> Error: </strong></p> {{error}}
  {% endif %}

  </dl>
  <p>
  </p>
  <input type=submit name='submit_button' value="Save" style="background-color: #343a40; border-radius: 7px; color: white; padding: 5 15;text-decoration: none; margin-right: 10;">
  <input type=submit name='submit_button2' value="Send" style="background-color: #343a40; border-radius: 7px; color: white; padding: 5 15;text-decoration: none">
</form>

<script>
  $("#users_list").selectize({placeholder: 'Select recipients', create: true})
</script>
<script>
  $(document).ready(function() {
    $("#text").summernote();
  });
</script>

{% endblock %}
