<html>
 <head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js"></script>
 </head>
 <body>
  <form action="" method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <dl>
    {% for field in form.display %}
    <dt>{{ form[field].label }}</dt>
    <dd>{{ form[field]() }}</dd>
      {% if form[field].errors %}
          {% for e in form[field].errors %}
          <p class="help-block">{{ e }}</p>
          {% endfor %}
      {% endif %}
    {% endfor %}
    </dl>
    <p>
    <input type=submit name='submit_button' value="Save">
    <input type=submit name='submit_button' value="Load">
    <input type=submit name='submit_button' value="Send">
    <input type=submit name='submit_button' value="Home">
    </p>
  </form>
 </body>
 <script>
   $("#users_list").selectize({'placeholder': 'Select recipients'})
 </script>
</html>
