{% extends "template.html" %}
{% block content %}

<h1>My Message in a Bottle</h1>
<br>
{% if current_user.is_authenticated %}
  Hi {{ current_user.firstname }}!<br>
  <br>
    {{ welcome }}
    <br><br>
    {% if current_user.is_admin %}
    <div><a href="/reported_users">
      <button class="my_button" id='admin_button' name='admin_button'><strong>Reported Users</strong></button>
    </a></div>
    {% endif %}
    <br>
    <a href="/users"> 
      <button class="my_button">User List</button>
    </a>
    <a href="/blacklist"> 
      <button class="my_button">Black List</button>
    </a>
    <br><br><br><br>
    If you wish to unregister from our platform, <a href="/unregister">Unregister</a>
{% else %}
  Hi Anonymous <br><br>
  <a href="/login"><button class="my_button">Sign in</button></a>
  <a href="/create_user"><button class="my_button">Sign up</button></a>
{% endif %}

{% endblock %}
