<h1>My Message in a Bottle -- Primer</h1>

{% if current_user.is_authenticated %}
  Hi {{ current_user.firstname }}! <a href="/logout">Logout</a><br>
  If you wish to unregister from our platform, <a href="/unregister">Unregister</a>
    <h2>{{ welcome }}</h2>
    {% if current_user.is_admin %}
    <div><a href="/reported_users">
      <button id='admin_button' name='admin_button'><strong>Reported Users</strong></button>
    </a></div>
    {% endif %}
    <br><br>
    <a href="/profile"> 
      <button>Profile</button>
    </a>
    <a href="/users"> 
      <button>User List</button>
    </a>
    <a href="/blacklist"> 
      <button>Black List</button>
    </a>
    <br><br>
    <div><a href="/mailbox"> 
      <button>Mailbox</button>
    </a>
    <a href="/create_message"> 
      <button>Write a message</button>
    </a></div>
{% else %}
  Hi Anonymous, <a href="/login">Log in</a><br>
  If you don't have an account you can create one, <a href="/create_user">Signup</a>
{% endif %}
