{% extends "template.html" %}
{% block content %}

<div>
  <div id='sent' style='width: 33%; float: left'>
    <h2>Sent messages</h2>
    <ul>
      {% for message in sent_messages: %}
        <li>
          <a href="/message/{{message.id}}">To</a> {{message.recipient_id}} {{message.text}}
        </li>
      {% endfor %}
    </ul>
  </div>

  <div id='recieved' style='width: 34%; float: left'>
    <h2>Recieved messages</h2>
    <ul>
      {% for message in recieved_messages: %}
          <li>
            <a href="/message/{{message.id}}">From </a> {{message.sender_id}}
          </li>
      {% endfor %}
    </ul>
  </div>

  <div id='drafts' style='width: 32%; float: left'>
    <h2>Draft messages</h2>
    <ul>
      {% for message in draft_messages: %}
          <li>
            {{message.text}}
            <a href="/create_message?draft_id={{message.id}}">Edit</a> 
            <a href="/message/{{message.id}}">View</a> 
          </li>
      {% endfor %}
    </ul>
  </div>
</div>

{% endblock %}
