{% extends "template.html" %}
{% block content %}

<h1>Message</h1>
  Text: {{message['text']|safe}} <br> 
  On: {{message['delivery_date']}} <br>
  From: {{message['recipient_id']}} <br><br>
  <button type="submit" onclick="DeleteMessage('{{message.id}}')">Delete</button>
  {% if not message.is_draft %}
    <a href="/create_message?forw_id={{message.id}}"> <button>Forward</button> </a>
    <a href="/create_message?reply_id={{message.id}}"> <button>Reply</button> </a>
  {% endif %}      
<br> <br>
<a href="/mailbox"> <button>Back to Mailbox</button> </a>

{% endblock %}