{% extends "template.html" %}
{% block content %}

<form action="/profile" method="POST" enctype="multipart/form-data">
    <p>
        <input type="file" id="file" name="file"/>
        <button type="submit" name="action" value="Upload">Upload</button>
    </p>
    <img src="{{ user.get_profile_pic() }}" width="200" />

    <h2>Profile Information</h2>
    <div style="margin-bottom:10">
        <div>
            <strong>First Name</strong>
        </div> 
        <input type="text" id="firstname" name="firstname" value= "{{ user.firstname }}" readonly>
    </div>
    <div style="margin-bottom:10">
        <div>
            <strong>Surname</strong> 
        </div>
        <input type="text" id="lastname" name="lastname" value= "{{ user.lastname }}" readonly>
    </div>
    <div style="margin-bottom:10">
        <div>
            <strong>Email</strong> 
        </div>
        <input type="text" id="email" name="email" value= "{{ user.email }}" readonly>
    </div>
    <div style="margin-bottom:10">
        <div>
            <strong>Location</strong>
        </div>
        <input type="text" id="location" name="location" value= "{{ user.location }}" readonly>
    </div>
    <br>

    <div><input type="button" id="action" name="action" value="Edit" onclick="toggleEdit()">
    <a>
        <input type="submit" id="action" name="action" value="Save">
    </a></div>
    <br><br>
    {% if user.has_language_filter %}
        <button type="submit" id="action" name="action" value="toggleFilter">Language Filter: on</button>
    {% else %}
        <button type="submit" id="action" name="action" value="toggleFilter">Language Filter: off</button>
    {% endif %}
</form>

{% endblock %}
