<html>
 <body>
  <form action="" method="POST">
    {{ form.hidden_tag() }}
    <dl>
      <H3>Search for a recipient</H3>
     {% for field in form.display %}
     <dt>{{ form[field].label }}</dt>
     <dd>{{ form[field]() }}</dd>
       {% if form[field].errors %}
          {% for e in form[field].errors %}
           <p class="help-block">{{ e }}</p>
          {% endfor %}
       {% endif %}
     {% endfor %}
    </dl>
    <p>
    <input type=submit name='submit_button' value="search">
    <input type=submit name='submit_button' value="send">
    <input type=submit name='submit_button' value="cancel">
  </form>
  <h2>Chosen recipients:</h2>
  {% for recipient in recipients %}
   <h3>{{ recipient['firstname'] }}</h3>
  {% endfor %}
 </body>
</html>