<html>
  <body>
    <a href="/"> 
      <button>Home</button>
    </a>
    <ul>
      <ul style="width:20%; float:left;">
        <h1>User List</h1>
        {% for user in users: %}
          {% if not user.is_admin %}
            <li>
            {{user.id}} {{user.firstname}} {{user.lastname}}
            <br>
            <form action="/users" method="POST">
              <input type="submit" value="{{ action }}">
            </form>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
      <ul style="width:20%; float:left;">
        <h1>Admin List</h1>
        {% for user in users: %}
          {% if user.is_admin %}
            <li>
            {{user.id}} {{user.firstname}} {{user.lastname}}
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </ul>
    <br>
  </body>
</html>

