<html>
  <body>
    <a href="/"> 
      <button>Home</button>
    </a>
    
    <ul>
      <ul style="width:20%; float:left;">
        <h1>User List</h1>
        {% for user in users: %}
          {% if not user.is_admin and not user.is_banned and not (user == current_user) %}
            <li>
            {{user.id}} {{user.firstname}} {{user.lastname}} ({{user.email}})
            <br>
            <form action="/users" method="POST">
              {% if user.id not in blocked_users %}
              <button type="submit" id="action" name="action" value="Block">Block</button>
              {% else %}
              <button type="submit" id="action" name="action" value="Unblock">Unblock</button>
              {% endif %}
              <button type="submit" id="action" name="action" value="{{ action }}">{{ action }}</button>
              <input type="hidden" id="email" name="email" value="{{ user.email }}">
            </form>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
      <ul style="width:20%; float:left;">
        <h1>Admin List</h1>
        {% for user in users: %}
          {% if user.is_admin %}
            <li>
            {{user.id}} {{user.firstname}} {{user.lastname}} ({{user.email}})
            </li>
          {% endif %}
        {% endfor %}
      </ul>
      <ul style="width:20%; float:left;">
        <h1>Banned Users</h1>
        {% for user in users: %}
          {% if current_user.is_admin and user.is_banned %}
            <li>
            <p style="color:red">{{user.id}} {{user.firstname}} {{user.lastname}} ({{user.email}})</p>
            <form action="/users" method="POST">
              <button type="submit" id="action" name="action" value="Unban">Unban</button>
              <input type="hidden" id="email" name="email" value="{{ user.email }}">
            </form>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    <br>
  </body>
</html>

